/*   Fuentes   */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

:root {
  /*   Primary   */
  --Cyan: hsl(180, 66%, 49%);
  --Dark-Violet: hsl(257, 27%, 26%);

  /*   Secundary   */
  --Red: hsl(0, 87%, 67%);

  /*   Neutral   */
  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(259, 62%, 19%);

  /*   Others   */
  --Color-Blue-Shadow: #004fbc;
  --Cyan-Light: #7ce4e4;
  --Cyan-Light-Alt: #b2d2ff;
  --line-Color: #f4f4f6;
}

/*   Estilos generales   */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
}

h1 {
  font-weight: 700;
  margin-bottom: 1.4rem;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 1.4rem;
}

p {
  margin-bottom: 1.4rem;
}

ul {
  list-style: none;
}

input {
  border: none;
  border-radius: 0.93333rem;
  font-size: 2.2rem;
  padding: 2.8rem;
  box-sizing: border-box;
}

input:focus {
  box-sizing: border-box;
  outline: none;
  box-shadow: 0 0 0 2pt var(--Color-Blue-Shadow);
}

.container {
  margin-top: 4.2rem;
  padding: 0 13.16rem;
  box-sizing: content-box;
}

@media (max-width: 1350px) and (min-width: 1200px) {
  html {
    font-size: 0.65vw;
  }
}

@media (max-width: 645px) and (min-width: 320px) {
  html {
    font-size: 0.5vw;
  }

  svg,
  img {
    width: 15px;
  }
}

svg {
  fill: white;
}

svg:hover {
  cursor: pointer;
  fill: #2acfcf;
}

/*   Navbar   */
.navbar {
  align-items: center;
  color: var(--Grayish-Violet);
  display: flex;
  font-size: 1.494rem;
  font-weight: 700;
}

.navbar .nav-content-logo {
  margin-left: 1.4rem;
  flex: 1;
}

.navbar .nav-content-list {
  flex: 3;
  margin-left: 1.12rem;
}

.navbar .nav-content-auth {
  flex: 2;
  margin-right: 2.8rem;
}

.navbar .nav-content-auth ul {
  justify-content: flex-end;
}

.navbar .nav-content-auth ul li {
  margin-left: 1.4rem;
}

.navbar ul {
  display: flex;
}
.navbar ul li {
  padding: 1.4rem;
}

.navbar ul li:hover {
  color: black;
  cursor: pointer;
}

#SignUp {
  margin-top: 1rem;
  padding: 0;
  padding-bottom: 0.6rem;
  height: 2.8rem;
}

#SignUp:hover {
  color: white;
}

@media (max-width: 1350px) {
  .nav-content-logo img {
    width: 10vw;
  }
}

/*   Botones   */
.primary-btn {
  background-color: var(--Cyan);
  border: solid 2pt transparent;
  border-radius: 8rem;
  color: white;
  text-align: center;
  width: 9rem;
}

.primary-btn:hover {
  background-color: var(--Cyan-Light);
  cursor: pointer;
}

.primary-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2pt var(--Cyan-Light-Alt);
}

.btn--lg {
  font-size: 2.2rem;
  padding: 1.2rem 4rem;
}

/*   Header   */
.header {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 7rem;
  overflow: hidden;
}

.header-content-logo {
  margin-right: -27.5rem;
}

.header-content-text {
  flex: 1;
  font-size: 2.2rem;
  padding-right: 5.6rem;
  padding-top: 5.6rem;
}

.header-content-text h2 {
  color: var(--Very-Dark-Blue);
  font-size: 7.48rem;
  line-height: 8rem;
  margin-bottom: 0.5rem;
  margin-top: 1.55rem;
}

.header-content-text p {
  color: var(--Grayish-Violet);
}

.header-content-Get-started {
  margin-top: 5.6rem;
  font-weight: 700;
}

.header-content-Get-started a {
  text-decoration: none;
}

/*   Main   */
.linecolor {
  background-color: var(--line-Color);
  z-index: 11;
  position: relative;
}

.shorten-link {
  background-color: var(--Very-Dark-Blue);
  background-image: url("/assets/img/bg-shorten-desktop.svg");
  position: relative;
  top: -8.5rem;
  overflow: hidden;
  margin-top: 14.5rem;
}

.shorten-link-Input {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.shorten-link input {
  flex: 5;
  color: var(--Dark-Violet);
}

.shorten-link span {
  margin-left: 2.8rem;
  margin-right: -12.6rem;
  float: right;
  flex: 1;
  font-size: 1.98rem;
  padding: 2.38rem 2.8rem;
  border-radius: 0.93333rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  overflow: hidden;
  display: flex;
  border-radius: 1rem;
  padding: 5rem 18rem 5rem 5rem;
  width: 100%;
  height: 17rem;
}

.body-Box-Fixed {
  margin: 0 27rem;
  text-align: center;
}

.body-Box-Fixed h1 {
  font-size: 3.96rem;
  color: var(--Very-Dark-Blue);
}

.body-Box-Fixed p {
  line-height: 3.2rem;
  color: var(--Gray);
}

.cards-Box {
  margin-top: 9rem;
  display: flex;
}

.card {
  border-radius: 0.7rem;
  margin: 0 1.4rem;
  max-width: 50rem;
  background-color: white;
}
.card .logo {
  background-color: var(--Dark-Violet);
  padding: 2.1rem;
  border-radius: 100%;
  margin: -4.5rem 0 -1rem 3.2rem;
}
.card-Body {
  padding: 3.22rem;
}
.card-Body h2 {
  color: var(--Very-Dark-Blue);
  margin-bottom: 2rem;
}
.card-Body p {
  color: var(--Grayish-Violet);
  font-size: 1.413rem;
  line-height: 2.52rem;
  font-weight: 500;
}

.Card-One {
  margin-top: 1.2rem;
  margin-bottom: 21rem;
}

.Card-Two {
  margin-top: 5.8rem;
  margin-bottom: 16.2rem;
}

.Card-Three {
  margin-top: 10rem;
  margin-bottom: 12rem;
}

.center-line {
  position: relative;
  top: 25.5rem;
  left: 20rem;
  z-index: -1;
  background-color: var(--Cyan);
  height: 0.84rem;
  width: 70%;
}

@media screen and (max-width: 1300px) {
  .center-line {
    height: 12.6rem;
    width: 2.8rem;
  }
}

.banner-content {
  background-image: url("../img/bg-boost-desktop.svg");
  background-color: var(--Dark-Violet);
  text-align: center;
  font-weight: 700;
  color: white;
  padding-bottom: 7.5rem;
}

.banner-content h1 {
  font-size: 3.74rem;
  padding-top: 5rem;
  padding-bottom: 2.5rem;
}

.banner-content span {
  font-size: 1.76rem;
}

/*   Footer   */
.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 6rem;
  margin-top: 0;
  padding-bottom: 6rem;
  color: white;
  background-color: var(--Very-Dark-Blue);
}

.footer .brand {
  flex: 3;
}

.ul-list {
  flex: 4;
  margin-left: -7.5rem;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.23rem;
}

.ul-list ul {
  margin-left: 7.84rem;
}

.ul-list ul li {
  line-height: 3.15rem;
  color: #bfbfbf;
}

.ul-list ul li:hover {
  color: var(--Cyan);
  cursor: pointer;
}

.ul-list ul h4 {
  font-size: 1.35rem;
  color: white;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.social-icons {
  margin-top: -0.125rem;
  margin-left: 8rem;
  flex: 2;
}

.social-icons ul {
  display: flex;
  align-items: center;
}

.social-icons ul li {
  margin: 0 1.1rem;
}
