/*   Fuente   */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

:root {
  /*   Primary   */
  --Cyan: hsl(180, 66%, 49%);
  --Dark-Violet: hsl(257, 27%, 26%);

  /*   Secundary   */
  --Red: hsl(0, 87%, 67%);

  /*   Neutral   */
  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(259, 62%, 19%);

  /*   Others   */
  --Color-Red: red;
  --Color-Blue-Shadow: #004fbc;
  --Cyan-Light: #7ce4e4;
  --Cyan-Light-Alt: #b2d2ff;
  --line-Color: #f4f4f6;

  /*   Tamaños   */
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

/*   Estilos generales   */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

svg {
  fill: white;
}

svg:hover {
  cursor: pointer;
  fill: #2acfcf;
}

/*   Nav   */
nav {
  display: grid;
  grid-template-columns: 2fr 5fr 3fr;
  height: 5em;
  grid-column-gap: 0.5em;
  margin-bottom: 1em;
  padding-left: 7rem;
  font-weight: 700;
  font-size: 0.9rem;
  margin-top: 2rem;
}

nav > div {
  display: flex;
  align-items: center;
}

.nav-content-logo img {
  margin-top: 0.4em;
  cursor: pointer;
}

.nav-content-list > span {
  margin: 0 0.5em;
  color: var(--Gray);
  font-size: 1e;
  transition: all 250ms;
  list-style-type: none;
}

.nav-content-list > span:hover {
  color: var(--Very-Dark-Violet);
  cursor: pointer;
}

.nav-content-auth {
  display: flex;
  justify-content: center;
}

.nav-content-auth button {
  border: none;
  margin: 0.1em;
  padding: 0.5em;
  width: 6em;
  font-weight: 700;
  font-size: 0.9em;
  border-radius: 1em;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.login {
  background-color: white;
  color: var(--Grayish-Violet);
}

.sign-up {
  background-color: var(--Cyan);
  color: white;
}

.nav-content-auth button:hover {
  color: white;
  background-color: var(--Cyan-Light);
}

.hamburguer-icon {
  display: none;
}

.hamburguer-icon > div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: var(--Grayish-Violet);
  transition: all 0.5s;
}

.burger-open .line1 {
  transform: rotate(-45deg) translate(-4px, 1px);
}

.burger-open .line2 {
  opacity: 0;
}

.burger-open .line3 {
  transform: rotate(45deg) translate(-10px, -7px);
}

.menu-mobile {
  display: none;
  transition: transform 0.5s;
}

.slide {
  transform: translateX(0) !important;
}

@keyframes burger-menu-animation {
  from {
    transform: translateX(50%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/*   Header   */
header {
  display: grid;
  grid-template-columns: 5fr 5fr;
  padding: 1rem 0 10rem 7rem;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding-right: 8em;
  box-sizing: border-box;
}

.header-container h2 {
  font-size: 4rem;
  line-height: 1.2;
  color: var(--Very-Dark-Blue);
  margin-bottom: 0;
}

.header-container p {
  color: var(--Grayish-Violet);
}

.header-image {
  display: flex;
  align-items: center;
}

.header-image img {
  width: 100%;
}

.get-started-btn {
  height: 50px;
  border: none;
  background-color: var(--Cyan);
  color: white;
  border-radius: 20px;
  margin: 0.1em;
  padding: 0.5em;
  width: 10em;
  font-weight: 700;
  font-size: 0.9em;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.get-started-btn:hover {
  background-color: var(--Cyan-Light-Alt);
}

/*   Main   */
main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  padding-bottom: 5em;
}

.shorten-link-container {
  background-image: url(../img/bg-shorten-desktop.svg);
  height: 8em;
  width: 80%;
  border-radius: 0.75em;
  background-color: var(--Dark-Violet);
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.shorten-link-controls {
  width: 100%;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.shorten-link-input {
  width: 70%;
  padding: 0.6em;
  font-size: 1em;
  margin: 0 1em;
  border-radius: 0.5em;
  border: none;
  outline: none;
  color: var(--Dark-Violet);
}

.invalid-link-message {
  position: absolute;
  top: 100%;
  left: 7%;
  font-size: 0.8em;
  color: var(--Color-Red);
  display: none;
}

.display-block {
  display: block;
}

.shorten-link-button {
  padding: 0.6em;
  font-size: 1em;
  width: 15%;
  border-radius: 0.5em;
  border: none;
  background-color: var(--Cyan);
  color: white;
  outline: none;
  font-weight: 700;
  cursor: pointer;
}

.shorten-link-button:hover {
  background-color: var(--Cyan-Light);
}

#link-provider {
  width: 100%;
  margin-top: 5em;
}

.lp-child {
  min-height: 4em;
  border-radius: 0.5em;
  margin: 0.5em auto;
  width: 80%;
  background-color: white;
  display: grid;
  grid-template-columns: 8fr 2fr 1fr;
  box-shadow: 5px 5px 5px gainsboro;
}

.lp-child > div {
  padding: 1em;
  display: flex;
  align-items: center;
  word-break: break-all;
}

.original-link {
  color: var(--Dark-Violet);
}

.original-link,
.short-link span {
  font-size: 0.8em;
}

.short-link {
  color: var(--Cyan);
  justify-content: flex-end;
}

.lp-btn {
  justify-content: flex-end;
}

.lp-btn > button {
  width: 6em;
  font-size: 0.8em;
  height: 2.5em;
  background-color: var(--Cyan);
  border: none;
  color: white;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
  transition: all 250ms;
  outline: none;
}

.lp-btn > button:hover {
  box-shadow: 4px 4px 10px 1px gainsboro;
  background-color: var(--Cyan-Light-Alt);
}

.stats-container {
  padding-top: 2em;
}

.stats-container::after {
  position: relative;
}

.sc-heading h2 {
  text-align: center;
  color: var(--Very-Dark-Violet);
}

.sc-heading p {
  width: 61%;
  margin: auto;
  text-align: center;
  color: var(--Grayish-Violet);
}

.sc-parent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3em;
  position: relative;
}

.sc-child {
  height: 12em;
  width: 19em;
  margin: 0 1em;
  background-color: white;
  box-shadow: 4px 4px 10px 1px gainsboro;
  border-radius: 5px;
}

.sc-child:not(:last-child)::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 3.3%;
  top: 38%;
  left: 31.7%;
  background-color: var(--Cyan);
}

.sc-child:nth-of-type(2) {
  margin-top: 2.5em;
}

.sc-child:nth-of-type(2)::after {
  left: 65%;
  top: 53%;
}

.sc-child:nth-of-type(3) {
  margin-top: 5em;
}

.sc-logo {
  margin-left: 1em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: var(--Dark-Violet);
  transform: translateY(-50%);
  padding: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sc-logo img {
  width: 90%;
}

.sc-heading {
  padding-left: 1em;
}

.sc-info {
  padding: 1em 2em 1em 1.4em;
  font-size: 0.8em;
  color: var(--Grayish-Violet);
}

/*   Responsive   */
.banner-section {
  background-image: url(../img/bg-boost-desktop.svg);
  height: 12em;
  background-color: var(--Dark-Violet);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.banner-heading {
  color: white;
}

.banner-heading h2 {
  margin: 0.3em 0;
}

.banner-button #get-started-btn:hover {
  box-shadow: 4px 4px 10px 1px black;
}

.started-btn {
  height: 40px;
  border: none;
  background-color: var(--Cyan);
  color: white;
  border-radius: 20px;
  margin: 0.1em;
  padding: 0.5em;
  width: 8em;
  font-weight: 700;
  font-size: 0.9em;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.started-btn:hover {
  background-color: var(--Cyan-Light-Alt);
  box-shadow: 3px 5px 4px gainsboro;
}

footer {
  padding: 3em 4em;
  background-color: var(--Very-Dark-Blue);
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
}

.footer-heading {
  margin: auto;
}

.footer-heading img {
  cursor: pointer;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-links ul {
  list-style: none;
  font-size: 0.85em;
}

.footer-links ul a {
  color: white;
  text-decoration: none;
}

.footer-links ul > a {
  display: block;
  margin: 10px 0;
}

.footer-links ul > li > a {
  display: block;
  margin: 5px 0;
  color: var(--Gray);
}

.footer-links ul > li > a:hover {
  color: var(--Cyan);
}

.footer-social-sites {
  padding: 1em;
}

.footer-social-sites span {
  color: white;
  font-size: 1.2em;
  padding: 0.5em;
}

.footer-social-sites span:hover {
  color: var(--Cyan);
}

.backGroundColorLightBlue {
  background-color: var(--Cyan-Light-Alt) !important;
}

.backgroundColorDarkViolet {
  background-color: var(--Dark-Violet) !important;
}
/*   Responsive   */
@media screen and (max-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
  }
  .nav-content-list,
  .nav-content-auth {
    display: none;
  }

  .hamburguer {
    padding-right: 1em;
  }

  .hamburguer-icon {
    display: block;
    cursor: pointer;
  }

  .menu-mobile {
    display: block;
    position: fixed;
    top: 10%;
    right: 5%;
    height: 60%;
    width: 90%;
    background-color: var(--Dark-Violet);
    z-index: 100;
    box-shadow: -2px 0 5px 0px gainsboro;
    border-radius: 1.5em;
    color: white;
    font-size: 20px;
    transform: translateX(110%);
  }

  .menu-mobile ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .menu-mobile ul li {
    padding: 0.5em;
  }

  .menu-mobile ul li a {
    text-decoration: none;
    color: white;
  }

  .menu-mobile ul li button {
    width: 8em;
    height: 3em;
    border-radius: 0.5em;
    background-color: var(--Cyan);
    border: none;
    font-size: 20px;
    font-weight: 750;
    color: white;
    box-shadow: -2px 0 5px 0px gainsboro;
  }
  hr {
    width: 70%;
    height: 0.5px;
    color: white;
  }

  .menu-mobile ul li .login {
    background-color: var(--Dark-Violet);
  }

  header {
    display: flex;
    padding: 0 0 5em 0;
    flex-wrap: wrap-reverse;
  }

  .header-image {
    padding-left: 0.9em;
  }

  .header-container {
    padding: 0;
    justify-content: center;
  }

  .header-container h2 {
    text-align: center;
    font-size: 2em;
  }

  .header-container p {
    padding: 0 2em;
  }

  .header-container button {
    margin: 1em;
  }

  main {
    padding-bottom: 0;
  }

  .shorten-link-container {
    height: 9em;
    transform: translateY(-50%);
  }

  .shorten-link-controls {
    flex-direction: column;
  }

  .invalid-link-message {
    top: 132%;
    left: 8%;
    font-size: 0.6em;
  }

  .shorten-link-button {
    width: 78%;
    margin: 0.5em;
  }

  .lp-child {
    display: block;
  }

  .lp-btn > div {
    padding: 0.5em;
  }

  .short-link {
    justify-content: center;
  }

  .lp-btn {
    justify-content: center;
  }

  .stats-container {
    padding: 2em 1em;
  }

  .sc-child {
    width: 90%;
    margin: 2em 1em !important;
  }

  .sc-child:not(:last-child)::after {
    height: 42px;
    width: 10px;
    top: 29.1%;
    left: 48.5%;
  }

  .sc-child:nth-of-type(2)::after {
    top: 62.5%;
  }

  .sc-heading {
    padding: 0;
  }

  .sc-heading p {
    width: 100%;
  }

  .sc-logo {
    margin: auto;
  }

  .sc-heading,
  .sc-info {
    text-align: center;
  }

  footer {
    display: block;
  }

  .footer-links {
    display: block;
  }

  .brand {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .footer-links ul {
    font-size: 1em;
    text-align: center;
    padding: 0;
  }

  .footer-social-sites {
    padding: 0;
    text-align: center;
  }
}
